@font-face {
  font-family: "Faux Snow BRK";
  src: local("☺"), url("fauxsnow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.snow{font-family:"Faux Snow BRK";font-size:100px;color:white;}

body{background: black;}